
// <div class="section section1 swiper-container">

//           <!-- LOGO -->
//           <div class="logo">
//             <img src="images/Lowe&CoProperties_Logo_RGB_Black.jpg">
//           </div>

//           <!-- SWIPER CONTAINER -->
//           <div class="swiper-wrapper">



#fullpage{
    min-height: 900px;
    .swiper-container{
        .swiper-wrapper{
              .page {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                overflow: hidden;
                position: relative;
                width: 100%;


                &.slide1{
                  background-image: url(../images/background_image13.jpg);
                }
                &.slide2{
                  background-image: url(../images/background_image15.jpg);
                }
                &.slide3{
                  background-image: url(../images/background_image16.jpg);
                }
                &.slide4{
                    background-image: url(../images/background_image5.jpg);
                }
                &.slide5{
                    background-image: url(../images/background_image2.jpg);
                }
                &.slide6{
                    background-image: url(../images/background_image14.jpg);
                }
                &.slide7{
                    background-image: url(../images/background_image1.jpg);
                }
                &.slide8{
                    background-image: url(../images/background_image3.jpg);
                }
                &.slide9{
                    background-image: url(../images/background_image5.jpg);
                }
                &.slide10{
                    background-image: url(../images/background_image8.jpg);
                }
                &.slide11{
                    background-image: url(../images/background_image10.jpg);
                }
                &.slide12{
                    background-image: url(../images/background_image19.jpg);
                }
            }
        }
    }
}


